<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/smartsigntools/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.bootstrap5.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/smartsigntools/css/admin.css">
</head>

<body>
    <div id="errorPlaceholder"></div>
    <% let nrOfPages = Math.ceil(admindata.pagination.total / admindata.pagination.size) %>
    <% var url = new URL(admindata.url) %>
    <% if (url.searchParams.has('size') !== true) { %>
        <% url.searchParams.set('size', admindata.pagination.size) %>
    <% } %>
    <% if (url.searchParams.has('page') !== true) { %>
        <% url.searchParams.set('page', admindata.pagination.page) %>
    <% } %>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white nonsticky-top">
            <a class="navbar-brand" href="#">
                <img alt="" src="/smartsigntools/images/kthlogo_marinbla.svg" class="kthlogo d-inline-block align-top marinbla"> KTH Bibliotekets Kalenderverktyg
            </a>
            <div class="">
                <form class="topbuttons">
                    <button type="button" onclick="getImages()" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Hantera bilder
                    </button>
                    <button type="button" onclick="getQrtracking()" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#qrcodetrackingModal">
                        Statistik QR-Scans
                    </button>
                    
                    <button type="button" onclick="getQrCodesGeneral()" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#qrcodeGeneralModal">
                        QR-Koder
                    </button>
                    <button type="button" class="btn btn-outline-success" onclick="logout()">Logout</button>
                </form>
            </div>
            <div id="gradientBorder"></div>
            <ul class="pagination">
                <% let page %>
                <% let active %>
                <% page = parseInt(admindata.pagination.page) - 1 %>
                <% url.searchParams.set('page', page); %>
                <li class="page-item <%- admindata.pagination.page > 1 ? "" : "disabled"%>">
                  <a class="page-link" href="<%= url %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% for(i=1; i<nrOfPages +1; i++) { %>
                    <% url.searchParams.set('page', i); %>
                <li class="page-item <%- admindata.pagination.page == i ? "active" : "" %>"><a class="page-link" href="<%= url %>"><%= i %></a></li>
                <% } %>
                <% page = parseInt(admindata.pagination.page) + 1 %>
                <% url.searchParams.set('page', page); %>
                <li class="page-item <%- admindata.pagination.page < nrOfPages ? "" : "disabled" %>">
                  <a class="page-link" href="<%= url %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul>
        </nav>
        <div id="content">
                <% let eventimageheader=false %>
                <% let eventimageoverlay=false %>
                <% let eventimageoverlayopacity=0.5 %>
                <%let eventtime=""%>
                <%let frameindex=1%>

                <%for (const event_ of admindata.events) { %>
                    <%eventtime=event_.event.eventtime%>
                    <%event=event_.event%>
                    <%let eventfields=event_.eventfields%>
                    <%let eventimage=event_.eventimage %>
                    <%let eventbgcolor=event_.eventbgcolor %>
                    <%let eventtextcolor=event_.eventtextcolor %>
                    <%let eventlogocolor=event_.eventlogocolor %>
                    <%let eventlinepattern=event_.eventlinepattern %>
                    <%let eventlinepatternplacement=event_.eventlinepatternplacement %>
                    <%let eventlinepatterncolor=event_.eventlinepatterncolor %>
                    <%if(event_.eventimageheader[0]) { eventimageheader=true } else { eventimageheader=false } %>
                    <%if(event_.eventimageoverlay[0]) { eventimageoverlay=true } else { eventimageoverlay=false } %>
                    <%if(event_.eventimageoverlayopacity[0]) { eventimageoverlayopacity=event_.eventimageoverlayopacity[0].opacity } else { eventimageoverlayopacity=0.5 } %>
                    <div class="eventcard card">
                        <div class="card-header text-black kth-sand-bg">
                            <h5>Kalenderevent - <a target="_blank" href="<%= event.guid%>"><%-event.lang=='sv' ? event_.feeditem_sv.title : event_.feeditem.title %></a></h5><%-event.lang=='sv' ? event_.feeditem_sv.content : event_.feeditem.content %>
                        </div>
                        <div class="eventcard-body card-body">
                            <div style="flex:2">
                                <div style="display:flex;gap: 10px; flex-direction: column;padding-top:0px">
                                    <div class="card">
                                        <h6 class="card-header" style="background-color: #C7EBBA;">Ladda ner affisch för skärm/powerpoint <i class="bi bi-display"></i></h6>
                                        <div class="card-body">
                                            <p class="card-text">Använd nedladdade pdf:er för visning på skärm eller i en powerpoint t ex</p>
                                            <div style="display:grid;gap:10px;grid-template-columns: auto auto;">
                                                <a>
                                                    <button id="pdfbtn_screen" onclick="getPdf('<%=event.id%>', this, 'screen', 'portrait');" type="button"
                                                        class="btn btn-primary" style="margin:0px 0px">
                                                        <i class="bi bi-download"></i> PDF Stående
                                                    </button>
                                                </a>
                                                <a>
                                                <button id="pdfbtn_screen" onclick="getPdf('<%=event.id%>', this, 'screen', 'landscape');" type="button"
                                                    class="btn btn-primary" style="margin:0px 0px">
                                                    <i class="bi bi-download"></i> PDF Liggande
                                                </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <h6 class="card-header" style="background-color: #B2E0E0;">Ladda ner affisch för utskrifter(A4/A3) <i class="bi bi-printer"></i></h6>
                                        <div class="card-body">
                                            <p class="card-text">Använd nedladdade pdf:er för att skriva ut i A4- eller A3-format</p>
                                            <div style="display:grid;gap:10px;grid-template-columns: auto auto;">
                                                <a>
                                                    <button id="pdfbtn_a4" onclick="getPdf('<%=event.id%>', this, 'A4', 'portrait');" type="button"
                                                        class="btn btn-primary" style="margin:0px 0px">
                                                        <i class="bi bi-download"></i> PDF Stående
                                                    </button>
                                                </a>
                                                <a>
                                                    <button id="pdfbtn_a4" onclick="getPdf('<%=event.id%>', this, 'A4', 'landscape');" type="button"
                                                        class="btn btn-primary" style="margin:0px 0px">
                                                        <i class="bi bi-download"></i> PDF Liggande
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <a href="#qrcode<%=event.id%>" class="card-header text-black" style="background-color: #E6E6E6;" id="headingExampleTwo" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseIndicatorChevron">
                                            QR-Kod <i class="bi bi-qr-code"></i>
                                        </a>
                                        <div id="qrcode<%=event.id%>" class="collapse show" aria-labelledby="headingExampleTwo">
                                            <div class="card-body">
                                                <div style="padding-bottom:10px" id="qrcodeimage_<%=event.id%>"><img style="width:200px;height:200px" src="/smartsigntools/api/v1/calendar/event/qrcode/<%=event.id%>?format=image"></div>
                                                <a href="/smartsigntools/api/v1/calendar/event/qrcode/<%=event.id%>?format=image" download="downloaded-image.jpg">
                                                    <button class="btn btn-primary" style="margin-left:5px"><i class="bi bi-download"></i> Ladda ner</button>
                                                </a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div style="flex:1">
                                <div class="card">
                                    <h6 class="card-header" style="background-color: #FFCCC4;">Affisch(smartsign)</h6>
                                    <div class="card-body" style="flex:1;display:flex;flex-direction:column;align-items: center;">
                                        <div class="wrap">
                                            <iframe id="frame_<%=frameindex%>" class="frame"
                                                src="/smartsigntools/api/v1/calendar/event/<%=event.id%>"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="flex:3">
                                <div class="card">
                                    <h6 class="card-header text-black" style="background-color: #FFF0B0;">Inställningar för affisch</h6>
                                    <form>
                                        <div style="display:flex;justify-content: stretch;">
                                            <div style="flex:1;padding:10px">
                                                <div class="form-check">
                                                    <input class="form-check-input languagechoice" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" data-lang="en" <%-event.lang == "en" ? "checked" : "" %> type="radio" name="flexRadio<%=frameindex%>" id="flexRadioEnglish<%=frameindex%>">
                                                    <label class="form-check-label" for="flexRadioEnglish<%=frameindex%>">
                                                        Engelska
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input languagechoice" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" data-lang="sv" <%-event.lang == "sv" ? "checked" : "" %> type="radio" name="flexRadio<%=frameindex%>" id="flexRadioSwedish<%=frameindex%>">
                                                    <label class="form-check-label" for="flexRadioSwedish<%=frameindex%>">
                                                        Svenska
                                                    </label>
                                                </div>
                                                <div style="padding-top:10px">
                                                    <div>Fält som ska visas</div><div style="font-size: 12px;">(<span class="ui-icon ui-icon-arrowthick-2-n-s mr-2"></span> - Välj placering genom att dra fälten upp eller ner i listan)</div>
                                                </div>
                                                <ul id="sortable<%=event.id%>" data-frameid="frame_<%=frameindex%>" class="sortable-list list-group">
                                                    <%eventfields.forEach(field=> { %>
                                                        <%if(field.sortable==1){%>
                                                            <li style="user-select: none;-webkit-user-select: none" class="list-group-item ui-state-default <%-event_.formdisabled ? "non-sortable-item" : "sortable-item" %>" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" data-fieldid="<%=field.id%>">
                                                                <span class="sort-handle ui-icon ui-icon-arrowthick-2-n-s mr-2"></span>
                                                            <%} else {%>
                                                            <li class="list-group-item ui-state-default non-sortable-item">
                                                            <%}%>
                                                                <input class="fieldchoice form-check-input" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" data-fieldid="<%=field.id%>" <%-field.events_id ? "checked" : "" %> type="checkbox" class="form-check-input" id="<%=field.name%><%=frameindex%>">
                                                                <label class="form-check-label" for="<%=field.name%><%=frameindex%>"><%=field.name%></label>
                                                            </li>
                                                    <%}) %>
                                                </ul>
                                                <div style="padding-top:10px">
                                                    Bild från bildbank
                                                </div>
                                                <select class="form-select imageselect" data-fieldname="images_id" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" id="imagebankselect<%=event.id%>" title="Välj bild">
                                                    <option value="0">Välj...</option>
                                                    <% let selectedimage='' %>
                                                    <% imagebank.forEach(image => {%>
                                                        <% if (eventimage[0]) {%>
                                                            <% if (eventimage[0].id == image.id) {%>
                                                                <% selectedimage = 'selected'%>
                                                            <% } else {%>
                                                                <% selectedimage = ''%>
                                                            <% }%>
                                                        <% } %>
                                                        <option <%=selectedimage%> value="<%=image.id%>"><%=image.name%></option>
                                                    <%})%>
                                                </select>
                                            </div>
                                            <div style="flex:1;padding:10px">    
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input imageheaderchoice" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" <%-eventimageheader ? "checked" : "" %> type="checkbox" id="flexSwitchCheckImageHeader<%=frameindex%>">
                                                    <label class="form-check-label" for="flexSwitchCheckImageHeader<%=frameindex%>">Visa rubriken på bilden</label>
                                                </div>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input imageoverlaychoice" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" <%-eventimageoverlay ? "checked" : "" %> type="checkbox" id="flexSwitchCheckImageOverlay<%=frameindex%>">
                                                    <label class="form-check-label" for="flexSwitchCheckImageOverlay<%=frameindex%>">Aktivera Gradient för bilden</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imageoverlayopacitySlider<%=frameindex%>" class="form-label">Gradient styrka(0-1)</label>
                                                    <input  data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" type="range" class="form-range" id="imageoverlayopacitySlider<%=frameindex%>" value="<%-eventimageoverlayopacity ? eventimageoverlayopacity * 100 : 50 %>" min="0" max="100" step="1">
                                                    <span class="slider-value"><%-eventimageoverlayopacity ? eventimageoverlayopacity : 0.50 %></span>
                                                </div>
                                                <div style="padding-top:10px">
                                                    Bakgrundsfärg
                                                </div>
                                                <select class="form-select bgcolorselect" data-fieldname="color_id" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" id="bgcolorselect<%=event.id%>" title="Välj färg">
                                                    <option value="0">Välj...</option>
                                                    <% let selectedbgcolor='' %>
                                                    <% colors.forEach(bgcolor => {%>
                                                        <% if (eventbgcolor[0]) {%>
                                                            <% if (eventbgcolor[0].id == bgcolor.id) {%>
                                                                <% selectedbgcolor= 'selected'%>
                                                            <% } else {%>
                                                                <% selectedbgcolor = ''%>
                                                            <% }%>
                                                        <% } %>
                                                        <option <%=selectedbgcolor%> value="<%=bgcolor.id%>"><%=bgcolor.name%></option>
                                                    <%})%>
                                                </select>
                                                <div style="padding-top:10px">
                                                    Textfärg
                                                </div>
                                                <select class="form-select textcolorselect" data-fieldname="color_id" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" id="textcolorselect<%=event.id%>" title="Välj färg">
                                                    <option value="0">Välj...</option>
                                                    <% let selectedtextcolor='' %>
                                                    <% colors.forEach(textcolor => {%>
                                                        <% if (eventtextcolor[0]) {%>
                                                            <% if (eventtextcolor[0].id == textcolor.id) {%>
                                                                <% selectedtextcolor= 'selected'%>
                                                            <% } else {%>
                                                                <% selectedtextcolor = ''%>
                                                            <% }%>
                                                        <% } %>
                                                        <option <%=selectedtextcolor%> value="<%=textcolor.id%>"><%=textcolor.name%></option>
                                                    <%})%>
                                                </select>
                                                <div style="padding-top:10px">
                                                    Logofärg
                                                </div>
                                                <select class="form-select logocolorselect" data-fieldname="color_id" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" id="logocolorselect<%=event.id%>" title="Välj färg">
                                                    <option value="0">Välj...</option>
                                                    <% let selectedlogocolor='' %>
                                                    <% colors.forEach(logocolor => {%>
                                                        <% if (eventlogocolor[0]) {%>
                                                            <% if (eventlogocolor[0].id == logocolor.id) {%>
                                                                <% selectedlogocolor= 'selected'%>
                                                            <% } else {%>
                                                                <% selectedlogocolor = ''%>
                                                            <% }%>
                                                        <% } %>
                                                        <option <%=selectedlogocolor%> value="<%=logocolor.id%>"><%=logocolor.name%></option>
                                                    <%})%>
                                                </select>
                                                <div style="padding-top:10px">
                                                    Linjemönster
                                                </div>
                                                <% let selectedlinepattern='' %>
                                                <% linepatterns.forEach(linepattern => {%>
                                                    <% if (eventlinepattern[0]) {%>
                                                        <% if (eventlinepattern[0].id == linepattern.id) {%>
                                                            <% selectedlinepattern= 'selected'%>
                                                        <% } else {%>
                                                            <% selectedlinepattern = ''%>
                                                        <% }%>
                                                    <% } %>
                                                <%})%>
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle form-select selected" type="button" id="linepatternbtn<%=event.id%>" data-linepatternid="<%- eventlinepattern[0] ? eventlinepattern[0].id : 0%>" data-bs-toggle="dropdown" aria-expanded="false" style="display:flex">
                                                        <%- eventlinepattern[0] ? eventlinepattern[0].name + `<img style="width:50px; height:30px" src="/smartsigntools/images/linepattern${eventlinepattern[0].id}.png" />` : 'Inget...'%>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <% linepatterns.forEach(linepattern => {%>
                                                            <% if (eventlinepattern[0]) {%>
                                                                <% if (eventlinepattern[0].id == linepattern.id) {%>
                                                                    <li>
                                                                        <div class="dropdown-item linepatternselect" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" data-linepatternid="0" style="display:flex">
                                                                            <div  class="form-select-option" style="width:50px; height:30px">
                                                                                Inget...
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                <% } else {%>
                                                                    <li>
                                                                        <div class="dropdown-item linepatternselect" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" data-linepatternid="<%=linepattern.id%>" style="display:flex">
                                                                            <div  class="form-select-option" style="width:50px; height:30px">
                                                                                <%=linepattern.name%>
                                                                            </div> <img src="/smartsigntools/images/linepattern<%=linepattern.id%>.png" />
                                                                        </div>
                                                                    </li>
                                                                <% }%>
                                                            <% } else {%>
                                                                <li>
                                                                    <div class="dropdown-item linepatternselect" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" data-linepatternid="<%=linepattern.id%>" style="display:flex">
                                                                        <div  class="form-select-option" style="width:50px; height:30px">
                                                                            <%=linepattern.name%>
                                                                        </div> <img src="/smartsigntools/images/linepattern<%=linepattern.id%>.png" />
                                                                    </div>
                                                                </li>
                                                            <% }%>
                                                        <%})%>
                                                    </ul>
                                                </div>
                                                <div style="padding-top:10px">
                                                    Linjemönsters placering
                                                </div>
                                                <select class="form-select linepatternplacementselect" data-fieldname="linepatternplacement_id" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" id="linepatternplacementselect<%=event.id%>" title="Välj linjemönsters placering">
                                                    <option value="0">Välj...</option>
                                                    <% let selectedlinepatternplacement='' %>
                                                    <% linepatternplacements.forEach(linepatternplacement => {%>
                                                        <% if (eventlinepatternplacement[0]) {%>
                                                            <% if (eventlinepatternplacement[0].id == linepatternplacement.id) {%>
                                                                <% selectedlinepatternplacement= 'selected'%>
                                                            <% } else {%>
                                                                <% selectedlinepatternplacement = ''%>
                                                            <% }%>
                                                        <% } %>
                                                        <option <%=selectedlinepatternplacement%> value="<%=linepatternplacement.id%>"><%=linepatternplacement.name%></option>
                                                    <%})%>
                                                </select>
                                                <div style="padding-top:10px">
                                                    Linjemönsters färg
                                                </div>
                                                <select class="form-select linepatterncolorselect" data-fieldname="color_id" data-eventid="<%=event.id%>" data-frameid="frame_<%=frameindex%>" id="linepatterncolorselect<%=event.id%>" title="Välj mönsterfärg">
                                                    <option value="0">Välj...</option>
                                                    <% let selectedlinepatterncolor='' %>
                                                    <% colors.forEach(linepatterncolor => {%>
                                                        <% if (eventlinepatterncolor[0]) {%>
                                                            <% if (eventlinepatterncolor[0].id == linepatterncolor.id) {%>
                                                                <% selectedlinepatterncolor= 'selected'%>
                                                            <% } else {%>
                                                                <% selectedlinepatterncolor = ''%>
                                                            <% }%>
                                                        <% } %>
                                                        <option <%=selectedlinepatterncolor%> value="<%=linepatterncolor.id%>"><%=linepatterncolor.name%></option>
                                                    <%})%>
                                                </select>
                                                
                                                <div style="padding-top:10px;" class="form-group">
                                                    <label for="smartsignLink_<%=event.id%>">Smartsignlänk HTML</label>
                                                    <div class="input-group">
                                                        <input value="<%=admindata.smartsignlink + event.id%>"
                                                            type="text" class="form-control"
                                                            id="smartsignLink_<%=event.id%>" aria-describedby="linkHelp"
                                                            placeholder="">
                                                        <span style="cursor: pointer"
                                                            onclick="copytext('smartsignLink_<%=event.id%>')"
                                                            class="input-group-text" id="copybtn_<%=event.id%>">
                                                            <i class="bi bi-clipboard"></i>
                                                        </span>
                                                    </div>
                                                    <small id="linkHelp" class="form-text text-muted">Klistra in länken ovan i smartsign ("lägg till url")</small>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% frameindex++ %>
            <%} %>
        </div>
        <!-- Bildbanken -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bildbank</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="imagebankmodal-body modal-body">

                    </div>
                    <div class="modal-footer">
                        <div style="flex:2;display:flex;flex-direction:column">
                            <div id="uploadAlertPlaceholder"></div>
                            <label for="imgFile">Uppdatera bildbank</label>
                            <input style="display:none" type="text" placeholder="Ge bilden ett namn"
                                class="form-control" name="imgFileName" id="imgFileName">
                            <div style="display:flex">
                                <input onChange="showElement('imgFileName')" type="file" class="form-control"
                                    name="imgFile" id="imgFile">
                                <button style="width:50%" class="browse btn btn-primary px-4" type="button"
                                    onclick="uploadImage()">
                                    Ladda upp
                                </button>
                            </div>
                            <div style="visibility:hidden;margin-right:10px" id="uploadprogress" class="progress">
                                <div id="uploadprogress-bar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    <span class="sr-only">0% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- QR-Koder Genrella -->
        <div class="modal fade" id="qrcodeGeneralModal" tabindex="-1" aria-labelledby="qrcodeGeneralModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="width:90%;max-width: 90%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="qrcodeGeneralModalLabel">QR-koder</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="QRGeneralmodal-body modal-body">
                    </div>
                    <div class="QRGeneralmodal-footer modal-footer">
                        <div style="flex:2;display:flex;flex-direction:column">
                            <div id="updateQRGeneralAlertPlaceholder"></div>
                            <form class="row g-3">
                                <div class="col-sm-10">
                                  <label for="QRGeneralUrl" class="visually-hidden">Url</label>
                                  <input type="text" placeholder="Skriv in URL" class="form-control" name="QRGeneralUrl" id="QRGeneralUrl">
                                </div>
                                <div class="col-sm">
                                    <button class="btn btn-primary px-4" type="button" onclick="createQrCodeGeneral()">
                                        Lägg till
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- QR-Koder Statistik -->
        <div class="modal fade" id="qrcodetrackingModal" tabindex="-1" aria-labelledby="qrcodetrackingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="width:90%;max-width: 90%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="qrcodetrackingModalLabel">Statistik scannade QR-koder</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="QRmodal-body modal-body">
                    </div>
                    <div class="QRmodal-footer modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Starta websocket
            const thisSessionId = Math.random().toString(36).substr(2, 9);
            const socket = io('', { path: "/smartsigntools/api/v1/socket.io" })
            socket.on("connect", () => {

            });
            socket.emit('connectInit', thisSessionId);

            $(document).ready(function () {

                //Skapa lyssnare för funktionsanrop
                $(".languagechoice").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    var lang= $(this).attr("data-lang");
                    updateLang(event_id, lang, frameid)
                });

                $(".fieldchoice").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    var fieldid= $(this).attr("data-fieldid");
                    updateEventField(event_id, frameid, fieldid, this)
                });

                $(".imageselect").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSetting(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/image")
                });

                $(".imageheaderchoice").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSettingCB(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/imageheader")
                });

                $(".imageoverlaychoice").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSettingCB(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/imageoverlay")
                });

                $("input[type='range']").on('input', function () {
                    const opacity = (this.value / 100).toFixed(2);
                    $(this).siblings('.slider-value').text(opacity);
                });

                $("input[type='range']").on('change', function () {
                    const opacity = (this.value / 100).toFixed(2);
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventImageOverlayOpacity(event_id, opacity, frameid)
                });

                $(".textcolorselect").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSetting(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/textcolor")
                });

                $(".bgcolorselect").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSetting(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/bgcolor")
                });

                $(".logocolorselect").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSetting(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/logocolor")
                });

                $(".linepatternselect").on('click', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventLinePattern(event_id, frameid, this)
                });

                $(".linepatternplacementselect").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSetting(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/linepatternplacement")
                });

                $(".linepatterncolorselect").on('change', function () {
                    var event_id= $(this).attr("data-eventid");
                    var frameid= $(this).attr("data-frameid");
                    updateEventSetting(event_id, frameid, this, "/smartsigntools/api/v1/calendar/event/linepatterncolor")
                });

            });
            
            // Gör så att listan över fält som ska visas går att sortera genom att dra fälten upp eller ner (använder sortable.js)
            $( function() {
                var sortableContainers = document.querySelectorAll('.sortable-list');
                sortableContainers.forEach(function(container) {
                    var sortable = new Sortable(container, {
                        animation: 150,
                        ghostClass: 'sortitem-background',
                        //handle: '.sort-handle',
                        //För mobiler etc behöver det finnas en delay så att normal scroll fungerar utan att det blir en sortering
                        delay: 200,
                        delayOnTouchOnly: true,
                        // De som har den här klassen går inte att sortera
                        filter: '.non-sortable-item',
                        //Se till att de översta fälten inte går att sortera in i
                        onMove: function (evt) {
                            if (evt.related.className && evt.related.classList.contains('non-sortable-item')) {
                                return false;
                            }
                            return true;
                        },
                        
                        //Uppdatera fältens ordning när sorteringen är klar
                        onEnd: function (event) {
                            var listId = 'sortable' + $(event.item).attr("data-eventid");
                            var frameid = $(event.item).attr("data-frameid");
                            updateFieldOrder(listId, frameid);
                        }
                    });
                });
            });

            // Funktion för att visa alertmeddelande
            function alert(message, type, placeholder, remove=true, removaltime=2000 ) {
                var alertPlaceholder = document.getElementById(placeholder)
                var wrapper = document.createElement('div')
                wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
                alertPlaceholder.append(wrapper)
                if(remove) {
                    setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); 
                        });
                    }, removaltime);
                }
            }

            // Funktion som uppdaterar vilket språk eventet ska visas på
            async function updateLang(events_id, lang, frameid) {
                const response = await makeHttpRequest("PUT", "/smartsigntools/api/v1/calendar/eventlang/" + events_id, {
                    "lang": lang
                })
                getEventFromDatabase(events_id, frameid )
            }

            // Funktion som uppdaterar vilka fält som ska visas
            async function updateEventField(events_id, frameid, fields_id, cb) {
                if (cb.checked) {
                    const response = await makeHttpRequest("POST", "/smartsigntools/api/v1/calendar/event/field", {
                        "events_id": events_id,
                        "fields_id": fields_id
                    })
                } else {
                    const response = await makeHttpRequest("DELETE", "/smartsigntools/api/v1/calendar/event/field", {
                        "events_id": events_id,
                        "fields_id": fields_id
                    })
                }
                getEventFromDatabase(events_id, frameid)
            }

            // Funktion som uppdaterar inställning för event via selectlist
            async function updateEventSetting(events_id, frameid, inputelement, url) {
                settings_id = inputelement.getAttribute('data-fieldname')
                try {
                    if (inputelement.value != "0") {
                        const response = await makeHttpRequest("POST", url, JSON.parse(`{
                            "events_id": ${events_id},
                            "${settings_id}": ${inputelement.value}
                        }`))
                    } else {
                        const response = await makeHttpRequest("DELETE", url, JSON.parse(`{
                            "events_id": ${events_id},
                            "${settings_id}": ${inputelement.value}
                        }`))
                    } 
                } catch(err) {
                    alert('Uppdateringen misslyckades ' + err.message, 'danger', 'errorPlaceholder', false)
                }
                getEventFromDatabase(events_id, frameid)
            }

            // Funktion som uppdaterar inställning för event via checkbox
            async function updateEventSettingCB(events_id, frameid, inputelement, url) {
                try {
                    if (inputelement.checked) {
                        const response = await makeHttpRequest("POST", url, JSON.parse(`{
                            "events_id": ${events_id},
                            "enabled": 1
                        }`))
                    } else {
                        const response = await makeHttpRequest("DELETE", url, JSON.parse(`{
                            "events_id": ${events_id},
                            "enabled": 0
                        }`))
                    } 
                } catch(err) {
                    alert('Uppdateringen misslyckades ' + err.message, 'danger', 'errorPlaceholder', false)
                }
                getEventFromDatabase(events_id, frameid)
            }

            // Funktion som uppdaterar inställning för gradients opacity
            async function updateEventImageOverlayOpacity(events_id, opacity, frameid) {
                const response = await makeHttpRequest("POST", "/smartsigntools/api/v1/calendar/event/imageoverlayopacity", {
                    "events_id": events_id,
                    "opacity": opacity
                })
                getEventFromDatabase(events_id, frameid)
            }
         
            // Funktion som uppdaterar ordningen på events fält
            async function updateFieldOrder(listId){
                var fieldsOrder = [];
                let frameid
                let events_id
                $("#" + listId + " .sortable-item").each(function(index) {
                    frameid = $(this).attr("data-frameid"),
                    events_id = $(this).attr("data-eventid"),
                    fieldsOrder.push({
                        "event_id" : $(this).attr("data-eventid"),
                        "field_id" : $(this).attr("data-fieldid"),
                        "sortorder" : index
                    });
                });
                
                const response = await makeHttpRequest("POST", "/smartsigntools/api/v1/calendar/event/sortfields", {
                    fieldsOrder
                })
                getEventFromDatabase(events_id, frameid)    
            }
            
            // Funktion som uppdaterar events linjemönster
            async function updateEventLinePattern(events_id, frameid, selectlist) {
                var value = $(selectlist).html();
                var buttonHtml = $('#linepatternbtn' + events_id).html();
                var button_data_linepatternid = document.getElementById('linepatternbtn' + events_id).getAttribute('data-linepatternid')
                var selected_data_linepatternid = selectlist.getAttribute('data-linepatternid')

                //Sätt knappens html lika med det val som gjorts
                $('#linepatternbtn' + events_id).html(value);
                //Sätt knappens data-attribut lika med det val som gjorts
                document.getElementById('linepatternbtn' + events_id).setAttribute('data-linepatternid', selected_data_linepatternid);

                //Sätt det valda alternativets html lika med knappens
                $(selectlist).html(buttonHtml);
                //Sätt det valda alternativets data-attribut lika med knappens
                selectlist.setAttribute('data-linepatternid', button_data_linepatternid);

                if (selected_data_linepatternid != "0") {
                    const response = await makeHttpRequest("POST", "/smartsigntools/api/v1/calendar/event/linepattern", {
                        "events_id": events_id,
                        "linepattern_id": selected_data_linepatternid
                    })
                } else {
                    const response = await makeHttpRequest("DELETE", "/smartsigntools/api/v1/calendar/event/linepattern", {
                        "events_id": events_id,
                        "linepattern_id": selected_data_linepatternid
                    })
                }
                getEventFromDatabase(events_id, frameid)
            }

            // Funktion som hämtar event
            async function getEventFromDatabase(event_id, frameid) {
                const response = await makeHttpRequest("GET", "/smartsigntools/api/v1/calendar/event/" + event_id + "?source=db")
                var iframe = document.getElementById(frameid);
                    iframe.contentDocument.open();
                    iframe.contentDocument.write(response);
                    iframe.contentDocument.close();
            }

            // Funktion för api-anrop
            function makeHttpRequest(method, url, data = null) {
                return new Promise(function(resolve, reject) {
                    var xhr = new XMLHttpRequest();
                    xhr.open(method, url, true);

                    xhr.onload = function() {
                        if (xhr.status >= 200 && xhr.status < 300) {
                            resolve(xhr.responseText);
                        } else {
                            reject(xhr.statusText);
                        }
                    };

                    xhr.onerror = function() {
                        reject(xhr.statusText);
                    };

                    if (data) {
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.send(JSON.stringify(data));
                    } else {
                        xhr.send();
                    }
                });
            }

            function getQrCodeGeneral(id, imageid, button) {
                $(button).prop("disabled", true);
                $(button).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Hämtar QR Kod...');
                
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    var blob = xhttp.response;
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "qrcode.png";
                    link.click();
                    $(button).prop("disabled", false);
                    $(button).html('Hämta QR Kod');


                };
                xhttp.open("GET", "/smartsigntools/api/v1/qrcode/general/generate/" + id, true);
                xhttp.responseType = "blob";
                xhttp.setRequestHeader('Content-Type', 'image/png');
                xhttp.send();
            }

            function getPdf(id, cb, format, orientation) {
                var restorehtml = $(cb).html()
                $(cb).prop("disabled", true);
                $(cb).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Skapar pdf...');

                
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    var blob = xhttp.response;
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "smartsign_" + id + ".pdf";
                    link.click();
                    $(cb).prop("disabled", false);
                    $(cb).html(restorehtml);


                };
                xhttp.open("GET", "/smartsigntools/api/v1/calendar/pdf/" + id + "?format=" + format + "&orientation=" + orientation, true);
                xhttp.responseType = "blob";
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send();
            }

            function logout() {
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {  
                    }
                    location.href = "/smartsigntools/api/v1"
                };
                xhttp.open("POST", "/smartsigntools/api/v1/logout", true);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send();
            }

            function uploadImage() {
                if (document.getElementById('imgFileName').value == "") {
                    document.getElementById('imgFileName').focus()
                    document.getElementById('imgFileName').style.color = "red";
                } else {
                    var formData = new FormData();
                    imgFile = document.getElementById('imgFile').files[0]
                    console.log((imgFile.size / (1024 * 1024)).toFixed(2))
                    formData.append("imgFile", imgFile);
                    formData.append("imagename", document.getElementById('imgFileName').value);
                    var xhttp = new XMLHttpRequest();

                    const progressBar = document.getElementById('uploadprogress');
                    xhttp.upload.onprogress = e => {
                        if (e.lengthComputable) {
                            $("#uploadprogress").css('visibility', 'visible')
                            const percentComplete = (e.loaded / e.total) * 100;
                            progressBar.style.width = `${percentComplete}%`;
                            if(percentComplete == 100) {
                            }
                        }
                    };

                    xhttp.onload = function () {
                        if (xhttp.status == 401) {
                        }

                        if (xhttp.status == 413) {
                            alert('Bilden är för stor', 'warning', 'uploadAlertPlaceholder', false)
                            $("#uploadprogress").css('visibility', 'hidden')
                        }

                        if (xhttp.status == 200) {
                            alert('Bild uppladdad', 'success', 'uploadAlertPlaceholder', false)
                            $("#uploadprogress").css('visibility', 'hidden')
                            document.getElementById('imgFile').value = ''
                            document.getElementById('imgFileName').style.display = "none";
                            getImages()
                        } 
                    };

                    xhttp.onerror = function() {
                        alert('Network error. Please try again later.', 'danger', 'uploadAlertPlaceholder', false);
                        $("#uploadprogress").css('visibility', 'hidden')
                    };

                    xhttp.open("POST", "/smartsigntools/api/v1/calendar/uploadfile", true);
                    xhttp.send(formData);
                }
            }

            async function getImages() {
                $('.imagebankmodal-body').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Hämtar...');
                const response = await makeHttpRequest("GET", "/smartsigntools/api/v1/calendar/images")
                $('.imagebankmodal-body').html(response)
            }

            async function updateImage(id, nameselector) {
                
                let name = $("#" + nameselector).val()
                const response = await makeHttpRequest("PUT", "/smartsigntools/api/v1/calendar/images/" + id, {
                    "name": name
                })
                getImages()
            }

            async function deleteImage(id) {
                const response = await makeHttpRequest("DELETE", "/smartsigntools/api/v1/calendar/images/" + id)
                getImages()
            }
            
            async function createQrCodeGeneral() {
                
                url = $("#QRGeneralUrl").val();
                const response = await makeHttpRequest("POST", "/smartsigntools/api/v1/qrcode/general", {
                    "url": url
                })
                getQrCodesGeneral()
            }

            async function deleteQrCodeGeneral(id) {
                const response = await makeHttpRequest("DELETE", "/smartsigntools/api/v1/qrcode/general", {
                    "id": id
                })
                getQrCodesGeneral()
            }

            async function updateQrCodeGeneral(id, urlselector) {
                
                let url = $("#" + urlselector).val();
                const response = await makeHttpRequest("PUT", "/smartsigntools/api/v1/qrcode/general", {
                    "id": id,
                    "url": url
                })
                alert('Url uppdaterad', 'success', 'updateQRGeneralAlertPlaceholder', true, 10000)
                getQrCodesGeneral()
            }

            async function getQrCodesGeneral() {
                $('.QRGeneralmodal-body').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Hämtar...');

                try {
                    const response = await makeHttpRequest("GET", "/smartsigntools/api/v1/qrcodes/general")
                    $('.QRGeneralmodal-body').html(response)

                    //Sortering för input-fält
                    $.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
                        return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                            return $('input', td).val();
                        });
                    }

                    var QRCodeGeneral = $('#QRCodeGeneraltable').DataTable({
                        "dom": '<Bplfi<t>>',
                        "autoWidth": false,
                        "columnDefs": [
                            { 
                                "orderDataType": "dom-text",
                                    type: "string",
                                "width": "60%", 
                                "targets": 1 
                            },
                            {
                                "targets": 4,
                                "visible": false
                            }
                        ],
                        "order": [[ 1, 'desc' ]],
                        buttons: [ {
                            extend: 'excelHtml5',
                            autoFilter: true,
                            filename: 'QRKod_statistik',
                            sheetName: 'Statistik scannade QR-koder',
                            exportOptions: {
                                columns: [ 0, 4]
                            }
                        } ]
                    });
                        
                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                } catch (err) {
                    $('.QRGeneralmodal-body').html('Fel vid hämtning')
                }
            }

            async function getQrtracking() {
                
                const response = await makeHttpRequest("GET", "/smartsigntools/api/v1/qrcodetracking")

                $('.QRmodal-body').html(response)
                var today = new Date();
                today.setDate(1);
                var firstDayOfMonth = today.toISOString().slice(0, 10);
                
                today.setMonth(today.getMonth() + 1);
                today.setDate(0);
                var lastDayOfMonth = today.toISOString().slice(0, 10);
                
                $("#start-date").val(firstDayOfMonth);
                $("#end-date").val(lastDayOfMonth);

                var qrtrackingtable = $('#qrtrackingtable').DataTable({
                    "dom": '<Bplfi<t>>',
                    "order": [[ 2, 'desc' ]],
                    buttons: [
                        {
                            text: 'Visa alla skanningar',
                            action: function ( e, dt, node, config ) {
                                getAllQrtrackings() 
                            }
                        },
                        {
                            extend: 'spacer',
                            style: 'bar',
                            text: ''
                        },
                        {
                            text: 'Skanningar för period',
                            action: function ( e, dt, node, config ) {
                                
                                
                                var startDate = $('#start-date').val();
                                var endDate = $('#end-date').val();
                                getQrtrackingsPeriod(startDate, endDate)
                            }
                        },
                        {
                            extend: 'spacer',
                            style: 'bar',
                            text: ''
                        },
                        {
                            extend: 'excelHtml5',
                            autoFilter: true,
                            filename: 'QRKod_statistik',
                            sheetName: 'Statistik scannade QR-koder'
                        } 
                    ]
                });
            }

            async function getAllQrtrackings() {
                const response = await makeHttpRequest("GET", "/smartsigntools/api/v1/qrcodetracking/all")

                var filterhtml = ``
                $('.QRmodal-body').html(response)
                var qrtrackingtable = $('#qrtrackingtable').DataTable({
                    "dom": '<Bplfi<t>>',
                    "order": [[ 2, 'desc' ]],
                    buttons: [
                        {
                            text: 'Visa summering',
                            action: function ( e, dt, node, config ) {
                                getQrtracking() 
                            }
                        },
                        {
                            extend: 'spacer',
                            style: 'bar',
                            text: ''
                        },
                        {
                            extend: 'excelHtml5',
                            autoFilter: true,
                            filename: 'QRKod_statistik',
                            sheetName: 'Alla scannade QR-koder'
                        } 
                    ]
                });
            
            }

            async function getQrtrackingsPeriod(from_date, to_date) {
                const response = await makeHttpRequest("GET", `/smartsigntools/api/v1/qrcodetracking/${from_date}/${to_date}`)

                $('.QRmodal-body').html(response)
                var qrtrackingtable = $('#qrtrackingtable').DataTable({
                    "dom": '<Bplfi<t>>',
                    "order": [[ 3, 'desc' ]],
                    buttons: [
                        {
                            text: 'Visa summering',
                            action: function ( e, dt, node, config ) {
                                getQrtracking() 
                            }
                        },
                        {
                            extend: 'spacer',
                            style: 'bar',
                            text: ''
                        },
                        {
                            extend: 'excelHtml5',
                            autoFilter: true,
                            filename: 'QRKod_statistik',
                            sheetName: 'Skannade QR-koder för period'
                        } 
                    ]
                });
            }

            function copytext(field_id) {
                var copyText = document.getElementById(field_id);
                text = $(copyText).val()
                navigator.clipboard.writeText(text);
            }

            function showElement(imgFileName) {
                $('#' + imgFileName).show()
            }

        </script>
    </div>
</body>

</html>