<html>

<head>
  <%- include('partials/grbmaphead'); %>
    <style>
      :root {
        --free-color: #0DE47E;
        --not-confirmed-color: #d4a358;
        --busy-color: #c54b4b;
        --unavailable-color: #7d7d7d;
        --closed-color: #6298D2;
        --drop-in-color: #DEF0FF;
        --text-main: #000000;
      }

      body {
        font-family: "Figtree", Arial, "Helvetica Neue", helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: var(--text-main);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .container {
        max-width: 1080px;
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
      }

      /* Hero Image Section */
      .title-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      /* Title Section */
      h1 {
        font-size: 110px;
        margin: 0px 0px 0px 0px;
        font-weight: 700;
      }

      .status-time {
        font-size: 70px;
        margin: 0px 0px 0px 10px;
        font-weight: 700;
        text-align: right;
        margin-bottom: 20px;
      }

      /* Map Layout */
      .map-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        margin-top: 20px;
      }

      .map-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

      .floor-plan {
        flex: 1;
        text-align: center;
      }

      .floor-plan object {
        width: 100%;
        height: 700px;
      }

      .floor-plan img {
        width: 100%;
        height: auto;
      }

      .floor-label {
        margin-top: 10px;
        font-size: 32px;
        font-weight: 500;
      }

      /* Booking & QR Section */
      .booking-footer {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .floor-plan img.qr-code {
        margin-top: 200px;
        width: 150px;
        height: 150px;
      }

      .floor-plan-right {
        margin-top: 450px;
      }

      .book-here-text {
        margin-top: 50px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
      }

      /* Legend Section */
      .legend {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        font-size: 14px;
        font-weight: bold;
      }

      .legend-item {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .box {
        width: 30px;
        height: 30px;
      }

      .free {
        background-color: var(--free-color);
      }

      .not-confirmed {
        background-color: var(--not-confirmed-color);
      }

      .busy {
        background-color: var(--busy-color);
      }

      .unavailable {
        background-color: var(--unavailable-color);
      }

      .closed {
        background-color: var(--closed-color);
      }

      .drop-in {
        background-color: var(--drop-in-color);
      }

      @media (max-width: 480px) {
        .map-section {
          flex-direction: column;
        }

        h1 {
          font-size: 32px;
        }
      }

      .curved-arrow {
        position: relative;
        top: 0px;
        left: 35px;
        width: 60px;
        height: 60px;
        pointer-events: none;
        transform: rotate(80deg);
        transform-origin: top left;
      }
    </style>
</head>

<body>
  <div class="container App">
    <div class="App-title App-padding">
      <img src="<%=smartsignconfig.titleimagesrc %>" alt="Students studying" class="title-img">
    </div>
    <div id="App" class="content-padding">
      <h1>Group study rooms</h1>
      <div id="App-content" class="App-content content-padding"></div>

      <div id="map-section" class="map-section">
      </div>

      <div class="legend">
        <div class="legend-item">
          <div class="box free"></div> Free
        </div>
        <div class="legend-item">
          <div class="box not-confirmed"></div> Not confirmed
        </div>
        <div class="legend-item">
          <div class="box busy"></div> Busy
        </div>
        <div class="legend-item">
          <div class="box unavailable"></div> Unavailable
        </div>
        <div class="legend-item">
          <div class="box closed"></div> Closed
        </div>
        <div class="legend-item">
          <div class="box drop-in"></div> Drop-in
        </div>
      </div>
    </div>
</div>
  <!--div class="App">
    <% if (!smartsignconfig.kiosk) { %>
    <div class="App-title App-padding">
      <div class="<%=smartsignconfig.titleimageclass %>">
        <img src="<%=smartsignconfig.titleimagesrc %>" alt="titleimage"/>
      </div>
       <% if (!smartsignconfig.hidelogo) { %>
        <div class="kthlogo">
          <img src="/smartsigntools/images/kthlogo_vit.svg">
        </div>
      <% } %>
      <% if (!smartsignconfig.hidekthname) { %>
        <div class="kthname">KTH Library</div>
      <% } %>
    </div>
    <div class="mapheader">Group study rooms</div>
    <% } %>
    <div id="App-content" class="App-content content-padding">
    </div>
    <div id="grouproomentries">
      <div id="grouprooms" class="grouprooms">
      </div>
    </div>
    <div class="App-footer content-padding">
      <div class="whitesquare"></div>
      <div style="padding: 5px 5px;">Free</div>
      <div style="width: 30px;height: 30px;background-color: #dfa539;"></div>
      <div style="padding: 5px 5px;">Not confirmed</div>
      <div style="width: 30px;height: 30px;background-color: #e24646;"></div>
      <div style="padding: 5px 5px;">Busy</div>
      <div style="width: 30px;height: 30px;background-color: grey;"></div>
      <div style="padding: 5px 5px;">Unavailable</div>
    </div>
  </div-->
  <%- include('partials/grbmapscript'); %>
</body>

</html>